.mainContainer {
    float: left;
    width: 100%;
    display: inline-block;
}

.main {
    margin: 4.5rem auto 0 auto;
    width: 60%;
    text-align: center;
}

.sub {
    display: inline-block;
    width: 31%;
    text-align: center;
    margin-right: 0.5rem;
    margin-top: 2rem;
}

.end {
    margin-right: 0;
}