.mainContainer {
    height: 4rem;
    width: 100%;
}

.symbol {
    display: inline-block;
    border-radius: 4px;
    height: 100%;
    width: 4rem;
    background-color: red;
}

.circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 3px black solid;
    border-radius: 50%;
}

.type {
    display: inline-block;
}