.mainContainer {
    float: left;
    display: inline-block;
    width: 100%;
}

.title {
    margin: 0;
    color: grey;
    font-weight: normal;
    letter-spacing: 1px;
}

.question {
    text-align: center;
    margin: 2rem auto 4.5rem auto;
    padding: 1rem 0;
    width: 80%;
}

.media {
    float: left;
    display: inline-block;
    width: 100%;
    margin-left: 20px;
}

.add {
    text-align: center;
    height: 25rem;
    transform: translateY(50%);
}

.answer {
    margin-bottom: 2rem;
}